<%= render "shared/header" %>
<%= render "shared/too_header" %>
<div class="main">

  <%# <% トップページ上部の「YARU_JA_NAI」帯部分 %>
  <div class='title-contents'>
    <p class='srevice-title'>
      あなたに少しでも自信を,,,
    </p>
    <p class='srevice-theme'>
      "YARU_JA_NAI-ヤルジャナイ-"
    </p>
    <p class='srevice-logo'>
      これからは見つけてもらう時代,,,
    </p>
  </div>
  <%# <% トップページ上部の「YARU_JA_NAI」帯部分 %>

  <%# <% YARU_JA_NAIの概要部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      そろそろ副業でも始めたいけど自分の長所短所をうまく表現できないな…
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "yaru_intro.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          ＜１＞どうすれば明確に言えるんだろう
        </h3>
      </li>
      <li class='list'>
        <%= image_tag "yaru_intro5.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          ＜２＞それなら私が使っているアプリを教えてあげようか？
        </h3>
      </li>
      <li class='list'>
        <%= image_tag "yaru_intro2.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          ＜３＞せ、先輩！！そんな良いアプリがあるんですか！？
        </h3>
      </li>
      <li>
        <h3 class='reason-list-discription'>
          看護師としての自分の経歴が割り出せて自分の中で言語化できる！
        </h3>
        <h3 class='reason-list-discription'>
          面接時でも自分の伝えたいことが明確にできて、企業側も理解しやすい！
        </h3>
      </li>
      <li class='list'>
        <%= image_tag "yaru_intro3.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          ＜４＞へー！それだったら面接の時に自分の気持ちを伝えやすいかも！
        </h3>
      </li>
      <li class='list'>
        <%= image_tag "yaru_intro6.png", class:"list-pict"%>
        <h3 class='reason-list-text'>
          ＜５＞なんだかやる気が出てきたな…早速記入してみよう！
        </h3>
      </li>
      <li class='list'>
        <%= image_tag "yaru_intro4.png", class:"list-pict"%>
        <h3 class='reason-list-text'>
          ＜６＞はいこれ資料。まずは一番上から新規登録してみてね。
        </h3>
        <h3 class='reason-list-text'>
          ありがとうございます。
        </h3>
      </li>
    </ul>
  </div>
  <%# <% YARU_JA_NAIの概要部分 %>

<%= link_to(new_profile_path, class: 'profile-create-btn') do %>
  <span class='profile-btn-text'>プロフィール作成</span>
  <%= image_tag 'push_button-1.png' , size: '185x100' ,class: "profile-btn-icon" %>
<% end %>

  <div class='profile-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <div class="subtitle" >
      新規投稿プロフィール
    </div>
    <ul class='profile-lists'>
      <% if @profiles.present? %>
      <% @profiles.each do |profile| %>
      <li class='list'>
        <%= link_to profile_path(profile.id) do %>
        <div class='profile-img-content'>
          <%= image_tag profile.image, class: "profile-img" %>
        <% end %>
        </div>
        <div class='profile-info'>
          <h3 class= 'profile-name'>
            <%= profile.name %>
          </h3>
        </div>
      </li>
    <% end %>
  <% end %>
  </div>

  <%= render "shared/fotter" %>



