<header class='top-page-header'>
  <div class='search-bar-contents'>
    <div class="yarujanai-icon">
    <form class="search-form" action="#">
      <input class='input-box' placeholder='プロフィール検索'>
      <button class="search-button">
      <%= image_tag "search_too.png", class: "search-icon" %>
      </button>
    </form>
    </div>
  </div>
  <div clas='nav'>
    <ul class='list-left'>
      <%# <%= if user_signed_in? %>
        <li><%= link_to "ユーザー", "#", class: "user-name"%></li>
        <li><%= link_to 'ログアウト', "#" , class: "logout" %></li>
      <%# <% else %>
      <ul class='list-right'>
        <li><%= link_to 'ログイン', "#", class: "login"%></li>
        <li><%= link_to '新規登録', "#", class: "sign-up"%></li>
    </ul>
  </div>
</header>
